<!DOCTYPE html>
<html lang="en">
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximium-scale=1.0">
    <title>Pagbank PagSeguro</title> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
    <body>
        <header class="header">
            <img src="/static/img/pagbank-logo.gif">
                <h1><class="title"></h1>
                <nav class="pag">
                    <a href="https://pagseguro.uol.com.br">PagBank</a>
                </nav>
                    <nav>
                    <a href="https://www.uol.com.br">Uol</a>
                    </nav>
                    <nav class="contact">
                    <a href="https://blog.pagseguro.uol.com.br/canais-atendimento-pagseguro/">Contact us</a>
                </nav>
                </header>
                <div class="head">
                        <div class="logo"><img src="/static/img/poster-pags.png"></div><!--logo-->
                            <p>Cartão de crédito grátis com limite garantido.<br></p>
                            <p>E seu dinheiro rendendo mais que o <strong>dobro da poupança</strong>.</p>
                        <div class="log"><img src="/static/img/logo-pagseguro-small.svg"></div><!--log-->
                    </div>
                    </header>
                        <div class="middle"></div><!--middle--> 
                        <header>
                        <div class="style">
                        <div class="poster"><img src="/static/img/img-telo-paginvest.png"></div><!--paginvest-->
                            <p>Além dos CDBs que rendem mais que o dobro <br>da poupança, agora você conta 
                            com <strong>Fundos de Investimento</strong> <br>geridos por especialistas de mercado.</p>
                        <div class="logpb"><img src="/static/img/thumbnail_image001_pags.png"></div><!--pagbank-->
                        <div class="button"><!--aberturadeconta-->
                            <a href="/cadastramento">ABRA SUA CONTA E APLIQUE JÁ</a>
                    </header>
                    </div>
                    </div>
                    </div>
                </body>
            </html>